.leftside {
  max-width: 362px;
}
.leftside__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E4E5EA;
  margin: 0;
  padding: 0;
}
.leftside__title-firm{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.leftside__subtitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E4E5EA;
  margin: 30px 0 0;
  max-width: 275px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .leftside__title{
    font-size: 36px;
    line-height: 44px;
    margin-top: 40px;
  }
  .leftside {
    padding: 0 14px;
  }
  .leftside__title-firm{
    font-size: 36px;
    line-height: 44px;
  }
  .leftside__subtitle{
    font-size: 18px;
    line-height: 22px;
    margin: 15px 0 0;
  }
}