@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.wrapper {
  min-height: 100vh;
  background: #0E1014;
}
.background__block{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background__purple-light{
  position: absolute;
  width: 259px;
  height: 259px;
  left: 602px;
  top: -154px;
  background: rgba(131, 58, 180, 0.5);
  filter: blur(196px);
}
.background__purple-ball{
  border-radius: 100%;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 906px;
  top: -13px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(236, 208, 255, 0.64) 0%, rgba(161, 93, 207, 0.24) 59.67%, rgba(118, 49, 164, 0.208) 78.59%, rgba(86, 24, 128, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgb(177 118 217 / 25%);
  filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.background__red-ball{
  border-radius: 100%;
  position: absolute;
  width: 83px;
  height: 83px;
  left: 557px;
  top: 70px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.536) 0%, rgba(212, 93, 93, 0.264) 59.67%, rgba(167, 49, 49, 0.248) 78.59%, rgba(130, 25, 25, 0.248) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgb(223 125 125 / 25%);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.background__red-light{
  position: absolute;
  width: 311px;
  height: 311px;
  left: -102px;
  top: 251px;
  background: rgba(150, 26, 26, 0.5);
  filter: blur(196px);
}
.background__red-ball-small{
  border-radius: 100%;
  position: absolute;
  width: 28px;
  height: 28px;
  left: 891px;
  top: 535px;
  background: radial-gradient(64% 64% at 27.25% 26.5%, rgba(255, 208, 208, 0.48) 0%, rgba(212, 93, 93, 0.248) 59.67%, rgba(167, 49, 49, 0.264) 78.59%, rgba(130, 25, 25, 0.232) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}
@media screen and (min-width: 812px) and (max-width: 1170px) {
  .background__purple-ball, .background__red-ball, .background__red-ball-small {
    display: none;
  }
}
@media screen and (min-width: 767px) and (max-width: 811px) {
  .background__purple-ball, .background__red-ball, .background__red-ball-small {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .wrapper{
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .background__purple-light{
    left: 258px;
    top: 150px;
  }
  .background__purple-ball{
    left: 296px;
    top: 310px;
  }
  .background__red-light{
    left: -55px;
    top: 241px;
  }
  .background__red-ball{
    width: 43px;
    height: 43px;
    left: 29px;
    top: 435px;
  }
  .background__red-ball-small{
    display: none;
  }
}