.rightside {
  max-width: 300px;
  text-align: right;
}
.rightside__title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #E4E5EA;
  margin: 0;
}
.rightside__title-important-free{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FCB045 0%, #FD1D1D 71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.rightside__title-important-talk{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background: linear-gradient(90deg, #FCB045 36.99%, #FD1D1D 190%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.rightside__features-box{
  margin: 40px 0 0 0;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto;
  gap: 30px 30px; 
  grid-template-areas: 
    ". ."
    ". ."; 
}
.rightside__feature-wid::after{
  content: 'Виджеты';
}
.rightside__feature-dash::after{
  content: 'Dashboard';
}
.rightside__feature-skype::after{
  content: 'Skype Аудит';
}
.rightside__feature-free::after{
  content: '35 дней';
}
.rightside__features-box-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #E4E5EA;
}
.rightside__features-box-subtitle{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #E4E5EA;
  margin: 6px 0 0 0;
  padding: 0;
}
.rightside__button{
  background: #4077F3;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #E4E5EA;
  text-decoration: none;
  padding: 21px 35px;
  display: inline-block;
  margin-top: 61px;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .rightside {
    padding: 35px 14px 60px;
  }
  .rightside__title{
    text-align: left;
  }
  .rightside__title-important-free, .rightside__title-important-talk{
    text-transform: lowercase;
  }
  .rightside__features-box-subtitle, .rightside__button{
    display: none;
  }
  .rightside__features-box{
    text-align: left;
    margin: 20px 0 0 0;
    gap: 14px 10px;
    grid-template-columns: auto auto;
    justify-content: start;
  }
  .rightside__features-box-title {
    text-align: right;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    background: url(../../images/Line.svg) no-repeat 0 50%;
    text-indent: 20px;
    padding: 0 0 0 15px;
  }
  .rightside__feature-wid::after{
    content: 'Skype аудит';
  }
  .rightside__feature-dash::after{
    content: '30 виджетов';
  }
  .rightside__feature-skype::after{
    content: 'Dashboard';
  }
  .rightside__feature-free::after{
    content: 'Месяц аmoCRM';
  }
}